@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* @font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
} */

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
} */

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* @font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
} */

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* @font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
} */

/* @font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} */

/* @font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
} */


@font-face {
  font-family: 'IA Writer';
  src: url('./fonts/IA-Writer/iAWriterDuospace-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* @font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM-Plex-Sans/IBMPlexSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
} */